body {
    background-image: url('assets/ufo-illustration-rn-1366x768.jpg');
    background-size: cover;
}

#btnPlayGame {
    border-radius: 8px;
    position: relative;
    left: 810px;
    top: 670px;
    font-family: 'Spac3 Slim';
    width: 75px;
}


#btnLeader {
    border-radius: 8px;
    position: relative;
    left: 590px;
    top: 750px;
    font-family: 'Spac3 Slim';
    width: 180px;
}
#Title{
    color:purple;
    position: relative;
    font-family: 'Spac3 Slim';
    left: 705px;
    font-size: 35pt;
}

#nameText {
    border-radius: 8px;
    position: relative;
    top: 600px;
    left: 400px;
    font-family: 'Spac3 Slim';
    text-align:center;
}