body {
    background-image: url('assets/ufo-illustration-rn-1366x768.jpg');
    background-size: cover;
}

#btnPlayGame {
    border-radius: 8px;
    position: relative;
    left: 795px;
    top: 650px;
    font-family: 'Spac3 Slim';
    width: 75px;
}


#btnLeader {
    border-radius: 8px;
    position: relative;
    left: 590px;
    top: 750px;
    font-family: 'Spac3 Slim';
    width: 150px;
}
#Title{
    color:purple;
    position: relative;
    font-family: 'Spac3 Slim';
    left: 705px;
    font-size: 35pt;
}